@import url('../abstacts/variables.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
    @apply flex justify-between items-center gap-3;
}

.nav__link {
    font-weight: 700;
    font-size: 2.3rem;
    padding-bottom: 1rem;
    color: var(--color-blue);
    position: relative;
}

.nav__link--active::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: var(--color-blue);
    animation: border-animation .4s forwards;
}

@keyframes border-animation {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}